header {
  background-image: url("./breeds/buldogBig.webp");
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  color: #ffffff;
  font-family: "PT Serif", serif;
  background-color: #222327;
}
a {
  text-decoration: none;
  color: #6961e5;
}
.home {
  margin-left: 30px;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 25px;
  border-color: grey;
}
.container {
  margin: 30px;
}
h2{
  color: #fff;
}
.homeButton{
  text-decoration: underline;
}