@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  color: #21243d;
  font-family: "PT Serif", serif;
  background-color: #222327;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.breeds {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.breed {
  width: 348px;
  height: 385px;
  margin: 30px;
  background-color: #292a2e;
}
.dog-breeds {
  margin: 30px 60px 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: contents;
}
.link_img_footer {
  padding: 25px;
}
.footer_wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: aliceblue;
}
p {
  padding: 10px;
}
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newFont{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fff;
    text-shadow: 10px 10px 30px #2400ff, -10px -10px 30px #7e2bd9;
    -webkit-text-stroke: 2px #fc78ff;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}
